.module-title {
  height: 40px;
  font-size: 22px;
  font-weight: bold;
}

.blog {
  img {
    width: 100%;
  }

  h2:first-child {
    position: relative;
    padding: 1.5rem 2rem;
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
    -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  }

  h2:first-child:before,
  h2:first-child:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    content: '';
    background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
    background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  }

  h2:first-child:before {
    top: 0;
  }

  h2:first-child:after {
    bottom: 0;
  }

  h2:not(:first-child) {
    position: relative;
    padding: 1rem 0.5rem;
    margin-top: 40px;
  }

  h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
    background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
    border-radius: 3px;
  }

  h3 {
    padding: 0.5rem 1rem;
    margin-top: 20px;
    background: #f4f4f4;
    border-left: 5px solid #000;
    font-size: 1.2rem;
  }

  p {
    line-height: 1.8;
  }

  pre {
    padding: 1em;
    margin: 1em 0;
    overflow-x: auto; /* ⭐ */
    color: #fff;
    background: #25292f;
    border-radius: 5px;
    -webkit-overflow-scrolling: touch; /* ⭐ */
  }

  blockquote {
    position: relative;
    box-sizing: border-box;
    padding: 10px 15px 10px 10px;
    font-size: 0.8rem;
    color: #777777;
    background: #f5f5f5;
    border-left: 4px solid #9dd4ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  }

  blockquote:before {
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    color: #9dd4ff;
  }

  blockquote p {
    padding: 0;
    margin: 7px 0;
    line-height: 1.7;
  }

  blockquote cite {
    display: block;
    font-size: 0.9em;
    color: #888888;
    text-align: right;
  }
}

.tips-card-title {
  font-size: 23px;
  font-weight: bold;
  line-height: 1.3em;
}
