.module-title {
  height: 40px;
  font-size: 22px;
  font-weight: bold;
}

.blog {
  img {
    width: 100%;
  }

  h2 {
    position: relative;
    padding: 1rem 0.5rem;
    margin-top: 40px;
  }

  h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
    background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
    border-radius: 3px;
  }
}

.tips-card-title {
  font-size: 23px;
  font-weight: bold;
  line-height: 1.3em;
}
