@import './variables.scss';

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
}

html {
  min-height: 100vh;
  background-color: #dfdfdf;
  font-size: 16px;
  font-family: sans-serif;

  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
}

body {
  background-color: #dfdfdf;
}

.card {
  border-top: #004099 4px solid;
}

@import './subnav.scss';
@import './blog';
@import './sideContents.scss';
